streamlit  # For Front-end Development
setuptools==69.5.1  # helps tu use github code as libraries
webrtcvad-wheels
# Utilities
numpy
pandas

# Face recognition
scikit-learn

dlib-bin # for facial vector reading
git+https://github.com/ageitgey/face_recognition_models


supabase  # Free online database
bcrypt  # Encrypt passwords

segno  # QR code generator
pillow  # to working with images

librosa
resemblyzer